/* Header */

#img-header{
    background-image: url("../images/header.jpg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#text-header{
    position: absolute;
    top: 45vh;
}
#text-header > h2{
    width: max-content;
    border-radius: 11px;
}
#botones-header > .nav-item > .nav-link{
    border-radius: 8px;
}
#botones-header > .nav-item > .nav-link:hover{
    background-color: rgba(169, 169, 169, 0.4);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    animation-fill-mode: forwards;
}
#title-header-reflect{
    margin-top: -2.9vh;
    transform: rotateX(180deg);
    opacity: 0.18;
}

@media screen and (width:1024px){
    #container-botones-header{
        width: 40vw;
    }
}
@media screen and (width:768px){
    #botones-header{
        gap: 0!important;
    }
}
 
/* Main */
#cards-acercade > .card > .card-img-top{
    width: 8vw!important;
    height: 10vh;
}
#cards-acercade > .card{
    width: 23rem;
}
#cards-acercade > .card > img{
    width: max-content;
    transition: transform .35s;
}
#cards-acercade > .card > img:hover{
    transform: scale(1.2);
}
#cards-casas > .card{
    width: 25rem;
}
#cards-casas > .card > img{
    transition: all .35s;
}
#cards-casas > .card > img:hover{
    box-shadow: -5px 5px rgb(155, 155, 155);
    transform: scale(1.03);
    filter: blur(25%);
}
.bg-gray{
    background-color: #f1f1f1;
}
.text-green{
    color: #7db90e;
    font-size: 17px;
}
.btn-orange{
    background-color: #e08709;
    color: white;
    font-weight: 500;
    border-radius: 0px;
    width: 21.8vw;
    height: 5vh;
}
.btn-orange:hover{
    background-color: #f0910d!important;
    color: white!important;
}
#boton-tarjetas{
    background-color: #71b100;
    color: white;
    font-weight: 500;
    padding-left: 3vw;
    margin-right: 12vw;
    border-radius: 0px;
}
#boton-tarjetas:hover{
    background-color: #81ca04!important;
}
#main-contacto-carousel > .carousel-inner > .carousel-item{
    height: 55vh;
}
#main-contacto-carousel-text{
    position: absolute;
    top: 8rem;
    left: 13vw;
}
.btn-carousel{
    background-color: #f0910d;
    border-radius: 0px;
    color: white;
    font-weight: 500;
    width: 8vw;
    height: 5vh;
}
.btn-carousel:hover{
    background-color: #db850d!important;
}
#bgDark{
    filter: brightness(45%);
}
.texto-naranja{
    color: #e08709;
}
.contenedor-comentarios{
    background-color: #71b100;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 15px;
    height: 55vh;
}
#text-comentarios-autor{
    padding-top: 5vh;
}
#blog-card-img{
    width: 350px;
    height: auto;
}
#blog-card-img > img{
    transition: transform 1s;
}
#blog-card-img > img:hover{
    transform: scale(1.1);
}
#blog-card-text{
    border-radius: 10px;
}
#blog-card-text:hover{
    background-color: #f1f1f1;
}

@media screen and (width:1440px){
    #btn-card-anuncio{
        width: 25.4vw;
    }
    #boton-tarjetas{
        margin-right: 6.45vw!important;
    }
}

@media screen and (width:1024px){
    #card3-text-precio{
        padding-top: 6.80vh;
    }
    #btn-card-anuncio{
        width: 26.3vw;
    }
    #boton-tarjetas{
        margin-right: 3.2vw!important;
    }
    #carousel-first-image{
        height: 55vh;
    }
    .btn-carousel{
        width: 15vw;
    }
    #main-contacto-carousel-text{
        top: 7rem;
    }
    #blog-card-text > .col > img{
        width: 240px;
        height: 215px;
    }
    .contenedor-comentarios{
        height: 63vh;
    }
    #text-comentarios{
        font-size: 25px!important;
        padding-left: 1vw;
    }
    #text-comentarios-autor{
        font-size: 22px!important;
    }
}

@media screen and (width:768px){
    #contenedor-iconos-card{
        gap: 0.5rem!important;
    }
    .card-title{
        font-size: 18px!important;
    }
    .card-text{
        font-size: 13px!important;
    }
    #card1-text-precio{
        padding-top: 2.7vh;
    }
    #card3-text-precio{
        padding-top: 2.55vh;
    }
    #btn-card-anuncio{
        width: 24.5vw;
    }
    #boton-tarjetas{
        margin-right: 3vw!important;
        padding-left: 6.4vw;
    }
    #carousel-first-image{
        height: 44.7vh;
    }
    #main-contacto-carousel-text{
        top: 6rem;
    }
    #main-contacto-carousel{
        height: 45vh;
    }
    .btn-carousel{
        width: 22vw;
    }
    /* #blog-card-text > .col > img{
        width: 180px;
        height: 160px;
    } */
    #blog-card-img{
        width: 180px;
        height: 160px;
    }
    #infoblog-texto{
        padding-top: 0px;
    }
    #infoblog-texto > h5{
        font-size: 19px!important;
        margin-bottom: 0px;
    }
    #infoblog-texto > p{
        font-size: 13px!important;
        margin-bottom: 0px;
    }
    .contenedor-comentarios{
        height: 50vh;
    }
    .contenedor-comentarios > .row{
        padding-top: 2vh!important;
    }
    #text-comentarios{
        font-size: 19px!important;
        padding-left: 1vw;
    }
    #text-comentarios-autor{
        font-size: 19px!important;
        padding-bottom: 2vh!important;
    }
}

/* footer */
footer{
    background: rgb(51,51,51);
    background: linear-gradient(90deg, rgb(70, 70, 70) 0%, rgba(24,24,24,1) 100%);
}
#nav-footer-links > .nav-link{
    width: 5vw!important;
    text-align: center;
    border-radius: 8px;
}
#nav-footer-links > .nav-link:hover{
    background-color: rgba(169, 169, 169, 0.4);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    animation-fill-mode: forwards;
}
@media screen and (width:768px){
    #nav-footer-links{
        gap: 0.3rem!important;
    }
    #nav-footer-links > .nav-link{
        font-size: 14px!important;
        width: 8vw!important;
    }
    footer > p{
        font-size: 14px!important;
    }
}